*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* estilos gerais da pagina */
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#f4f7f6;
    color: #333333;
    line-height: 1.4;
    
}

/* cabeçalho */

header{
    background-color: #004a8d;
    color:#ffffff;
    padding:30px 20px;
    box-shadow: 0ps 4px 8px rgba(0,0,0,0.2);

}

header h1{
    margin-bottom:15px;
    font-size: 2.5rem;
    letter-spacing: 2px;

}

/* navegação */
nav{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;

}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3 ease-in-out;

}

nav a:hover{
    background-color: #ffcc00;
    color:#004a8d;
    transform: translateY(-10px);  /* translateY é para dar a ilusão de pulo*/
}


/* conteudo principal */

main{
max-width: 900px;
margin: 40px auto;
padding: 0 20px;


}

/* artigos e seções */

article,section{
    background-color:#ffffff;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;

}

article h2,section h3{
    color:#004a8d;
    margin-bottom: 15px;

}

article img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    border:1px solid #e0e0e0
}


/* listas e outras noticias */

section ul{
    list-style: none;

}

section ul li{
    padding: 12px 0;
    border-bottom: 1px solid #eeeeee;
}

section ul li :last-child{
    border-bottom: none;
}

/* rodape */

footer{
    background-color: #222222;
    color:#cccccc;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

footer hr{
    border:none;
text-decoration: none;
margin-bottom: 20px;
}

footer a {
    color:#ffcc00;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}